<div id="container" style="overflow: hidden; padding-left: 0.5rem; padding-right: 0.5rem; padding-top: 1.5rem;" [busyIf]="isLoading">
    <div class="ui-g-12 ph-0">
        <div class="ui-g-12 ph-0">
                 <!-- SEARCH CONDITION -->
            <fieldset class="fieldset-border ui-g-12  pr-1">
                <div class="ui-g-12 ph-0 search">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <tmss-combobox [items]="listEmployeeType" [text]="l('Employee')"
                                    [type]="'number'" [(ngModel)]="EmployeeId"
                                ></tmss-combobox>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <tmss-combobox [items]="listTableType" [text]="l('Table')"
                                    [type]="'number'" [(ngModel)]="TableId"
                                ></tmss-combobox>
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <button type="button" class="tmss-btn btn-outline-primary" (click)="clearTextSearch()"
                              >
                                <i class="tmss-fa fas fa-redo mr-1"></i>{{l("Refresh")}}
                            </button>
                            <button class="tmss-btn btn-outline-primary mr-0" type="button" (click)="search()">
                                <i class="tmss-fa fa fa-search mr-1"></i>{{l("Search")}}
                            </button>
                        </div>
                    </div>
                    
                </div>
            </fieldset>
                <!-- END SEARCH -->
                <div class="ui-g-12 ph-0">
                    <div class="ui-g-12 pr-1">
                        <span>
                            <h6 class="card-header bg-card-header card-header-input pr-1">
                                {{ 'DANH SÁCH HÓA ĐƠN' }}
                            </h6>
                        </span>
                    </div>
                    
                    <fieldset class="fieldset-border ui-g-12 ">
                        <div class="panel panel-default pt-1">
                            <simple-ag-grid
                                [paginationParams]="paginationParams"
                                [columnDefs]="defaultColDefs"
                                [defaultColDef]="defaultColDef"
                                [rowData]="rowData"
                                (callBackEvent)="callBackOracleInvoiceBatchNameGrid($event)"
                                (onChangeSelection)="onChangeSelection($event)"
                                (changePaginationParams)="changePage($event)"
                                [height]="'60vh'"
                                [wrapText]="true"
                                [frameworkComponents]="frameworkComponents">
                            </simple-ag-grid>
                        </div>
                    </fieldset>
                    <div class="text-right pr-1">
                        <button
                            class="tmss-btn tmss-footer-btn btn-outline-primary" >
                            <i class="fa tmss-fa fa-plus mr-1"></i>{{ 'Thêm' }}
                        </button>
                        <button
                            class="tmss-btn tmss-footer-btn btn-outline-primary" >
                            <i class="fa tmss-fa fa-plus mr-1"></i>{{ 'Thêm' }}
                        </button>
                    </div>
                </div>
        </div>
    </div>
</div>




