You can add global styles to this file, and also import other style files
.margin-left-5 {
    margin-left: 5px !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-bottom-5 {
    padding-bottom: 5px !important;
}

.width-percent-5 {
    width: 5%;
}

.width-percent-10 {
    width: 10%;
}

.width-percent-15 {
    width: 15%;
}

.width-percent-20 {
    width: 20%;
}

.width-percent-30 {
    width: 30%;
}

.width-percent-40 {
    width: 40%;
}

.width-percent-50 {
    width: 50%;
}

.width-percent-100 {
    width: 100%;
}

/* Sweet alert */

.swal2-title {
    display: inline-block !important;
}

body.swal2-height-auto {
    height: inherit !important;
}

.swal2-popup.swal2-toast {
    padding: 10px 12px !important;
    display: block !important;
}

.swal2-popup.swal2-toast .swal2-header,
.swal2-popup.swal2-toast .swal2-title,
.swal2-popup.swal2-toast .swal2-content {
    text-align: left !important;
    margin: 0 !important;
}

.swal2-popup.swal2-toast .swal2-title {
    margin-bottom: 4px !important;
}

@keyframes glowing {
    0% {
        opacity: .3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .3;
    }
}

.glowing {
    animation: glowing 2s infinite;
}

.root-initial-loader .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.8);
    z-index: 99999 !important;
    width: 100%;
    height: 100%;
}

.root-initial-loader i {
    position: absolute;
    color: rgb(91, 167, 234);
    z-index: 100000 !important;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.root-initial-loader .fa-spin-2x {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}
ngx-spinner .loading-text{
    font-weight: bold;
    color: white;
    font-size: 1.3em;
}


@media (min-width: 1025px) { 
    body.kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
        padding-top: 56px;
    }
}


/* TMSS-COMBOBOX */
.form-group .input-group .input-search tmss-combobox { width: 100%;}
.form-group .input-group .input-search tmss-combobox > div.input-group { background-color: white; width: 100%; height: 24.44px; position: relative; display: flex; align-items: center; }
.form-group .input-group .input-search tmss-combobox > div.input-group > span.input-group-text {
    line-height: 1.5; height: 24.44px; padding: 0.15rem 0.3rem;  position: absolute; z-index: 0; background: transparent; border: none; color: var(--kt-input-color-placeholder); font-size: 0.9rem; font-weight: 500;
}
.form-group .input-group .input-search tmss-combobox > div.input-group > select { position: absolute; z-index: 2; background: transparent; width: 100%; }
tmss-combobox > .input-group > .ng-arrow-wrapper { cursor: pointer; position: absolute; text-align: center; -webkit-user-select: none; user-select: none; right: 0px; z-index: 1;}
tmss-combobox > .input-group > .ng-arrow-wrapper { width: 25px;  padding-right: 5px; }
tmss-combobox > .input-group > .ng-arrow-wrapper .ng-arrow { pointer-events: none; display: inline-block; height: 0; width: 0; position: relative; }
tmss-combobox > .input-group > .ng-arrow-wrapper .ng-arrow {  border-color: #999 transparent transparent; border-style: solid; border-width: 5px 5px 2.5px; }


@media print {

    table {
         page-break-after:always ;
        }
  tr    {
       page-break-inside:avoid;
       page-break-after:always ;
    }
  td    {
      page-break-inside:avoid;
      page-break-after:always;
 }
  thead { display:table-header-group }
  tfoot { display:table-footer-group }
  body *{
    visibility: hidden;
  }
  tab {
      position: absolute;
      top : 0;
  }
  tab * {
    visibility: visible !important;
  }
  .claim-status-report * {
    visibility: hidden !important;
  }
  html, body {
    height:auto;
    position: static;
    /* margin: 0 !important;
    padding: 0 !important; */
    overflow: auto;
  }


  /* html, body {margin: 0; min-height: 100%; overflow: hidden} */
  .modal > .modal-dialog > .modal-content > .modal-body {
    height: auto;
    /* min-height: 710px; */
    /* overflow: auto !important; */
    position: relative;
    overflow:visible!important;
  }
  .modal > .modal-dialog > .modal-content > .claim-form > .modal-body {
    height: auto;
    /* min-height: 710px; */
    /* overflow: auto !important; */
    position: relative;
    overflow:visible!important;

  }
  .modal > .modal-dialog {
    min-width:94%;
    margin-left:3%;
    margin-right:3%;
    page-break-after:auto
  }
  /* .modal-content {
    overflow: none !important;
    page-break-after:auto;
  } */

  claim-detail-view-modal *{
    visibility: visible !important;
    page-break-after:auto
  }
  claim-detail-modal *{
    visibility: visible !important;
    page-break-after:auto
  }
  claim-tmv-create-modal *{
    visibility: visible !important;
    page-break-after:auto
  }
  .modal {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    visibility: visible !important;
    /**Remove scrollbar for printing.**/
    page-break-after:auto;
    overflow: visible !important;
  }
  .modal-dialog {
    visibility: visible !important;
    /**Remove scrollbar for printing.**/
    overflow: visible !important;
  }
}