<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal"  aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #DashboardDetail="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="rowdata.id">{{ l("EditEmployee") }}</span>
                        <span *ngIf="!rowdata.id">{{ l("CreateEmployee") }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row row-1">
                        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                            <div class="kt-portlet kt-portlet--mobile">
                                <div class="kt-portlet__body">
                                    <div class="form-input">
                                        <div class="row">
                                            <div class="col-md-6">
                                              <div class="form-group">
                                                  <div class="row input-group">
                                                      <span class="col-md-3 input-group-addon">{{l("EmployeeName")}}</span>
                                                      <input type="text" class="col-md-9 form-control-combobox ipStRequire" maxlength="255" required
                                                      [(ngModel)]="rowdata.employeeName" name="employeeName" />
                                                  </div>
                                             
                                              </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row input-group">
                                                    <span class="col-md-3 input-group-addon">{{l("Position")}}</span>
                                                    <select name="type" type="text" class="col-md-9 form-control-combobox ipStRequire"
                                                    required [(ngModel)]="rowdata.position">
                                                        <option value="Nhân viên">Nhân viên</option>
                                                        <option value="Đầu bếp">Đầu bếp</option>
                                                        <option value="Phục vụ">Phục vụ</option>
                                                    </select>
                                                </div>
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="col-md-6">
                                              <div class="form-group">
                                                  <div class="row input-group">
                                                      <span class="col-md-3 input-group-addon">{{l("PhoneNumber")}}</span>
                                                      <input type="text" class="col-md-9 form-control-combobox ipStRequire" maxlength="255" required
                                                      [(ngModel)]="rowdata.phoneNumber" name="phoneNumber" />
                                                  </div>
                                              </div>
                                            </div>
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                  <div class="form-group">
                                                      <div class="row input-group">
                                                          <span class="col-md-3 input-group-addon">{{l("AdrressEmployee")}}</span>
                                                          <input type="text" class="col-md-9 form-control-combobox ipStRequire" maxlength="255" required
                                                          [(ngModel)]="rowdata.adrressEmployee" name="adrressEmployee" />
                                                      </div>
                                                  </div>
                                                  </div>
                                                </div>
                                              <div class="col-md-6">
                                                <div class="form-group">
                                                  <div class="row input-group">
                                                      <span class="col-md-3 input-group-addon">{{l("Email")}}</span>
                                                      <input type="text" class="col-md-9 form-control-combobox ipStRequire" maxlength="255" required
                                                      [(ngModel)]="rowdata.emailEmployee" name="EmailEmployee" />
                                                  </div>
                                                </div>
                                              </div>        
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="!DashboardDetail.form.valid"><i class="fa fa-save mr-1"></i>
                        <span>{{l("Save")}}</span></button>
                    <button [disabled]="saving" type="button" class="btn btn-danger"
                        (click)="close()">{{l("Đóng")}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

