<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal"  aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #DashboardDetail="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="rowdata.id">{{ l("Sửa") }}</span>
                        <span *ngIf="!rowdata.id">{{ l("Thêm mới") }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row row-1">
                        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                            <div class="kt-portlet kt-portlet--mobile">
                                <div class="kt-portlet__body">
                                    <div class="form-input">
                                    	<div class='col-md-12 form-group row'>
                                            <label class='col-md-2 form-control title'>Employee Name</label>
                                            <input type='text' class='col-md-10 form-control input-text' name='InvoiceId' [(ngModel)]='rowdata.employeeName'>
                                        </div>
                                        <div class='col-md-12 form-group row'>
                                            <label class='col-md-2 form-control title'>Position</label>
                                            <input type='text' class='col-md-10 form-control input-text' name='position' [(ngModel)]='rowdata.position'>
                                        </div>
                                        <div class='col-md-12 form-group row'>
                                            <label class='col-md-2 form-control title'>Phone Number</label>
                                            <input type='text' class='col-md-10 form-control input-text' name='phoneNumber' [(ngModel)]='rowdata.phoneNumber'>
                                        </div>
                                        <div class='col-md-12 form-group row'>
                                            <label class='col-md-2 form-control title'>Adrress Employee</label>
                                            <input type='text' class='col-md-10 form-control input-text' name='adrressEmployee' [(ngModel)]='rowdata.adrressEmployee'>
                                        </div>
                                        <div class='col-md-12 form-group row'>
                                            <label class='col-md-2 form-control title'>Email Employee</label>
                                            <input type='text' class='col-md-10 form-control input-text' name='emailEmployee' [(ngModel)]='rowdata.emailEmployee'>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="!DashboardDetail.form.valid"><i class="fa fa-save mr-1"></i>
                        <span>{{l("Save")}}</span></button>
                    <button [disabled]="saving" type="button" class="btn btn-danger"
                        (click)="close()">{{l("Đóng")}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
